<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>527203001908-va57rf3eerrk7882u8keu9a48eund5rt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.527203001908-va57rf3eerrk7882u8keu9a48eund5rt</string>
	<key>API_KEY</key>
	<string>AIzaSyCrBHStjELjS9vybun4Ulb90o8u25BSDaU</string>
	<key>GCM_SENDER_ID</key>
	<string>527203001908</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.foodapp</string>
	<key>PROJECT_ID</key>
	<string>foodapp-af6ce</string>
	<key>STORAGE_BUCKET</key>
	<string>foodapp-af6ce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:527203001908:ios:f4678a997c38ed31af0c61</string>
	<key>DATABASE_URL</key>
	<string>https://foodapp-af6ce.firebaseio.com</string>
</dict>
</plist>